<!-- Child Component -->
@page "/counter"

<h1>Counter</h1>
<p>@Message</p>

@code
{
    [Parameter] 
    public int Count { get; set; } = 0;
    public string? Message { get; set; }

    protected override void OnParametersSet()
    {
        if (string.IsNullOrEmpty(Message))
        {
            Message = "Parameters set for the first time";
        }
        else
        {
            Message = "Parameter reset to + " + Count;
        }
        base.OnParametersSet();
    }
}
